<h3>Details for <%= @person.name %></h3>
<h4 class='subheader'><strong><%= pluralize @person.hours_remaining, 'hour' %></strong> remaining</h4>
<hr />

<div class='row'>
  <div class='large-6 columns'>
    <strong>Expenses</strong>
    <ul class='no-bullet'>
      <% @person.pto_expenses.order(:expense_date).group_by(&:year).each do |year, expenses| %>  
        <li>
          <h5><%= year %></h5>
          <ul>
            <% expenses.each do |expense| %>
              <li><%= expense.expense_date.strftime("%m/%d/%Y") %> - <%= pluralize expense.hours, 'hour' %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='large-6 columns'>
    <strong>Earnings</strong>
    <ul class='no-bullet'>
      <% @person.hours_earned.each do |hours_groups| %>  
        <li>
          <%= hours_groups.year %> - <%= pluralize hours_groups.hours, 'hour' %>          
        </li>
      <% end %>      
    </ul>
  </div>
</div>

<a class="close-reveal-modal">&#215;</a>
